<article class="blog_item">
    <div class="blog_item_img">
        <img src="assets/img/product/inspired-product/i60.jpg" alt="post">
    </div>
    
    <div class="blog_details">
        <h2>PHP Tutorial</h2>
        <p style="font-size: 15px;">The PHP Hypertext Preprocessor (PHP) is a programming language that allows web developers to create dynamic content that interacts with databases. PHP is basically used for developing web based software applications. This tutorial helps you to build your base with PHP.<br><br>
            PHP was created by Rasmus Lerdorf in 1994 but appeared in the market in 1995. PHP 7.4.0 is the latest version of PHP, which was released on 28 November. Some important points need to be noticed about PHP are as followed:<br><br>
                <li>PHP stands for Hypertext Preprocessor.</li>
                <li>PHP is an interpreted language, i.e., there is no need for compilation.</li>
                <li>PHP is faster than other scripting languages, for example, ASP and JSP.</li>
                <li>PHP can be embedded into HTML.</li>
                <li>PHP is an object-oriented language.</li>
                <li>PHP is an open-source scripting language.</li>
                <li>PHP is simple and easy to learn language.</li>
        </p>
        <h2>Why use PHP</h2>
        <p style="font-size: 15px;">PHP is a server-side scripting language, which is used to design the dynamic web applications with MySQL database.<br><br>
                <li>It handles dynamic content, database as well as session tracking for the website.</li>
                <li>You can create sessions in PHP.</li>
                <li>It can access cookies variable and also set cookies.</li>
                <li>It helps to encrypt the data and apply validation.</li>
                <li>PHP supports several protocols such as HTTP, POP3, SNMP, LDAP, IMAP, and many more.</li>
                <li>Using PHP language, you can control the user to access some pages of your website.</li>
                <li>As PHP is easy to install and set up, this is the main reason why PHP is the best language to learn.</li>
        </p>
        <h2>Install PHP</h2>
        <p style="font-size: 15px;">To install PHP, we will suggest you to install AMP (Apache, MySQL, PHP) software stack. It is available for all operating systems. There are many AMP options available in the market that are given below:<br><br>
                 <li><span style="font-weight: bold;">WAMP</span> for Windows</li>
                 <li><span style="font-weight: bold;">LAMP</span> for Linux</li>
                 <li><span style="font-weight: bold;">MAMP</span> for Mac</li>
                 <li><span style="font-weight: bold;">SAMP</span> for Solaris</li>
                 <li><span style="font-weight: bold;">FAMP</span> for FreeBSD</li>
                 <li><span style="font-weight: bold;">XAMPP</span> (Cross, Apache, MySQL, PHP, Perl) for Cross Platform: It includes some other components too such as FileZilla, OpenSSL, Webalizer, Mercury Mail, etc.</li><br>
                 If you are on Windows and don't want Perl and other features of XAMPP, you should go for WAMP. In a similar way, you may use LAMP for Linux and MAMP for Macintosh.
        </p>
        <h5>Download and Install WAMP Server</h5>
        <a href="https://www.wampserver.com/en/" style="color:green;">Click me to download WAMP server</a><br><br>
        <h5>Download and Install LAMP Server</h5>
        <a href="http://csg.sph.umich.edu/abecasis/LAMP/download/" style="color:green;">Click me to download LAMP server</a><br><br>
        <h5>Download and Install MAMP Server</h5>
        <a href="https://www.mamp.info/en/downloads/" style="color:green;">Click me to download MAMP server</a><br><br>
        <h5>Download and Install XAMPP Server</h5>
        <a href="https://www.apachefriends.org/download.html" style="color:green;">Click me to download XAMPP server</a><br><br>
        <h5>How to install XAMPP server on windows</h5>
        <p style="font-size: 15px;">We will learn how to install the XAMPP server on windows platform step by step. Follow the below steps and install the XAMPP server on your system.<br><br>
            <span style="font-weight:bold;color:black">Step 1:</span> Click on the above link provided to download the <span style="font-weight:bold;color:black">XAMPP server</span> according to your window requirement.</p>
            <img src="assets/img/product/inspired-product/i61.png" alt="post" style="width:480px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 2:</span> After downloading XAMPP, double click on the downloaded file and allow XAMPP to make changes in your system. A window will pop-up, where you have to click on the <span style="font-weight:bold;color:black">Next</span> button.</p>
            <img src="assets/img/product/inspired-product/i62.png" alt="post" style="width:480px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 3:</span> Here, select the components, which you want to install and click <span style="font-weight:bold;color:black"> Next.</span></p>
            <img src="assets/img/product/inspired-product/i63.png" alt="post" style="width:480px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 4:</span> Choose a folder where you want to install the XAMPP in your system and click<span style="font-weight:bold;color:black"> Next.</span></p>
            <img src="assets/img/product/inspired-product/i64.png" alt="post" style="width:480px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 5:</span> Click<span style="font-weight:bold;color:black"> Next </span>and move ahead.</p>
            <img src="assets/img/product/inspired-product/i65.png" alt="post" style="width:480px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 6:</span> XAMPP is ready to install, so click on the<span style="font-weight:bold;color:black"> Next </span>button and install the XAMPP.</p>
            <img src="assets/img/product/inspired-product/i66.png" alt="post" style="width:480px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 7:</span> A finish window will display after successful installation. Click on the<span style="font-weight:bold;color:black"> Finish </span>button and install the XAMPP.</p>
            <img src="assets/img/product/inspired-product/i67.png" alt="post" style="width:480px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 8:</span> Choose your preferred language.</p>
            <img src="assets/img/product/inspired-product/i68.png" alt="post" style="width:250px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 9:</span> XAMPP is ready to use. Start the Apache server and MySQL and run the php program on the localhost.</p>
            <img src="assets/img/product/inspired-product/i69.png" alt="post" style="width:480px;"><br><br>
            <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 10:</span> If no error is shown, then XAMPP is running successfully.</p>
            <img src="assets/img/product/inspired-product/i70.png" alt="post" style="width:480px;"><br><br>
        </div>
        </article>
