
<article class="blog_item">
    <div class="blog_item_img">
        <img src="assets/img/product/inspired-product/i55.jpg" alt="post">
    </div>
    
    <div class="blog_details">
    
        <h2>Angular 7 Tutorial</h2>
        <p style="font-size: 15px;">Angular 7 is an open source JavaScript framework for building web applications and apps in JavaScript, html, and Typescript which is a superset of JavaScript. Angular provides built-in features for animation, http service, and materials which in turn have features such as auto-complete, navigation, toolbar, menus, etc. The code is written in Typescript, which compiles to JavaScript and displays the same in the browser.</p>
        <p style="font-size: 15px;">There are three major releases of Angular. The first version that was released is Angular1, which is also called AngularJS. Angular1 was followed by Angular2, which came in with a lot of changes when compared to Angular1.<br><br>
            The structure of Angular is based on the components/services architecture. AngularJS was based on the model view controller. Angular 7 released in October 2018 proves to be a major breakthrough and is the latest release from the Angular team after Angular6.<br><br>
            Angular 7 is almost the same as Angular 6. It has a backward compatibility with Angular 6. Projects developed in Angular 6 will work without any issues with Angular 7.<br><br>
            Let us now see the new features and the changes made in Angular 7.</p>
       <h2>What is Single Page Application (SPA)?</h2>
       <p style="font-size: 15px;">A single page application is a web application or a website which provides users a very fluid, reactive and fast experience similar to a desktop application. It contains menu, buttons and blocks on a single page and when a user clicks on any of them; it dynamically rewrites the current page rather than loading entire new pages from a server. That's the reason behind its reactive fast speed.</p>
       <h2>How to install Angular 7?</h2>
       <h5>Angular 7 Environment Setup</h5>
       <p style="font-size: 15px;">In this page, you will see how you can install the prerequisites needed to run your first Angular 7 app.</p>
       <h5>Install Visual Studio Code IDE or JetBrains WebStorm</h5>
       <p style="font-size: 15px;">You must have an IDE like Visual Studio Code IDE or JetBrains WebStorm to run your Angular 7 app.<br><br>
        VS Code is light and easy to setup, it has a great range of built-in code editing, formatting, and refactoring features. It is free to use. It also provides a huge number of extensions that will significantly increase your productivity.<br><br>
        You can download VS Code from here:<a href="https://code.visualstudio.com/" style="color:green;margin-left: 4px;font-weight: bold;">https://code.visualstudio.com</a></p>
        <p style="font-size: 15px;">JetBrains WebStorm is also a great IDE to develop Angular 7 apps. It is fast, attractive, and very easy to use software but, it is not free to use. You have to purchase it later, it only provides a trial period of 30 days for free.</p>
        <p style="font-size: 15px;">You can download VS Code from here:<a href="https://www.jetbrains.com/webstorm/download/#section=windows" style="color:green;margin-left: 4px;font-weight: bold;">https://www.jetbrains.com/webstorm/download/#section=windows</a></p>
        <p style="font-size: 15px;">We are using JetBrains WebStorm in this tutorial.</p>
        <h5>Install Node.js</h5>
        <p style="font-size: 15px;">You should install node.js to run your Angular 7 app. It manages npm dependencies support some browsers when loading particular pages. It provides required libraries to run Angular project. Node.js serves your run-time environment as your localhost.<br><br>
           See how to install node.js:<a href="https://nodejs.org/en/" style="color:green;margin-left: 4px;font-weight: bold;">https://nodejs.org/en/</a><br><br>
           Download and install latest version of node.js. In my case, it is 11.8.0
        </p>
        <img src="assets/img/product/inspired-product/i56.png" alt="post" style="width:480px;"><br><br>
        <p>After the successful installation, you will see command prompt like this:</p>
        <img src="assets/img/product/inspired-product/i57.png" alt="post" style="width:480px;"><br><br>
        <h5>Use npm to install Angular CLI</h5>
        <p style="font-size: 15px;">Run the Angular CLI command to install Angular CLI</p>
        <div id="p01">npm install -g @angular/cli  </div><br>
        <img src="assets/img/product/inspired-product/i58.png" alt="post" style="width:480px;"><br><br>
        <p style="font-size: 15px;"><span style="color: black;">or</span><br><br>
         Just go to Angular CLI official website<a href="https://cli.angular.io/" style="color:green;margin-left: 4px;font-weight: bold;" >https://cli.angular.io/</a></p>
         <p style="font-size: 15px;">You will see the whole cli command to create an Angular app. You need to run the first command to install Angular CLI. These steps are same for Windows and Mac.</p>
         <img src="assets/img/product/inspired-product/i59.png" alt="post" style="width:480px;"><br><br>
         <div id="p02">npm install -g @angular/cli<br>
                       ng new my-dream-app<br>
                       cd my-dream-app<br>
                       ng serve</div><br>
        <p style="font-size: 15px;">Your Angular 7 Environment setup is complete now.</p>
    </div>
  </article>

