<article class="blog_item">

    <div class="blog_item_img">
        <img src="assets/img/product/inspired-product/i73.jpg" alt="post">
    </div>
    
    <div class="blog_details">
    
    <h2>TypeScript Tutorial</h2>
    <p style="font-size: 15px;">TypeScript is an open-source pure object-oriented programing language. It is a strongly typed superset of JavaScript which compiles to plain JavaScript. It contains all elements of the JavaScript. It is a language designed for large-scale JavaScript application development, which can be executed on any browser, any Host, and any Operating System. The TypeScript is a language as well as a set of tools. TypeScript is the ES6 version of JavaScript with some additional features.</p>
    <img src="assets/img/product/inspired-product/i74.png" alt="post" style="width:180px;"><br><br>
    <p style="font-size: 15px;">TypeScript cannot run directly on the browser. It needs a compiler to compile the file and generate it in JavaScript file, which can run directly on the browser. The TypeScript source file is in ".ts" extension. We can use any valid ".js" file by renaming it to ".ts" file. TypeScript uses TSC (TypeScript Compiler) compiler, which convert Typescript code (.ts file) to JavaScript (.js file).</p>
    <img src="assets/img/product/inspired-product/i75.png" alt="post" style="width:480px;"><br><br><br>
    <h2>History of TypeScript</h2>
    <p style="font-size: 15px;">In 2010, Anders Hejlsberg, a core member of the development team of C# language, started working on TypeScript at Microsoft. The first version of TypeScript was released to the public in the month of 1st October 2012 and was labeled as version 0.8. Now, it is maintained by Microsoft under the Apache 2 license. The latest version of Typescript is TypeScript 3.5, which was released to the public on May 2019.</p>
    <h2>Difference between JavaScript and TypeScript</h2>
    <h5>JavaScript</h5>
    <p style="font-size: 15px;">JavaScript is the most popular programming language of HTML and the Web. JavaScript is an object-based scripting language which is lightweight and cross-platform. It is used to create client-side dynamic pages. The programs in JavaScript language are called scripts. The scripts are written in HTML pages and executed automatically as the page loads. It is provided and executed as plain text and does not need special preparation or compilation to run.</p>
    <h6>History of JavaScript</h6>
    <p style="font-size: 15px;">Netscape Communications Corporation programmer Brendan Eich developed JavaScript. It was introduced in September 1995, which was initially called Mocha. However, after gaining popularity as the best scripting tool, it was renamed as JavaScript to reflect Netscape's support of Java within its browser. In November 1996, Netscape submitted JavaScript to ECMA (European Computer Manufacturers Association). The current version of JavaScript is ECMAScript 2018, which was released in June 2018.</p>
    <h5>TypeScript</h5>
    <p style="font-size: 15px;">TypeScript is an open-source pure object-oriented programing language. It is a strongly typed superset of JavaScript which compiles to plain JavaScript. TypeScript is developed and maintained by Microsoft under the Apache 2 license. It is not directly run on the browser. It needs a compiler to compile and generate in JavaScript file. TypeScript source file is in ".ts" extension. We can use any valid ".js" file by renaming it to ".ts" file. TypeScript is the ES6 version of JavaScript with some additional features.</p>
    <h6>History of TypeScript</h6>
    <p style="font-size: 15px;">Anders Hejlsberg developed TypeScript. It was first introduced for the public in the month of 1st October 2012. After two years of internal development at Microsoft, the new version of TypeScript 0.9 was released in 2013. The current version of TypeScript is TypeScript 3.4.5 which was released on 24 April 2019.</p>
    <h5>Advantage of TypeScript over JavaScript</h5>
    <li>TypeScript always highlights errors at compilation time during the time of development, whereas JavaScript points out errors at the runtime.</li>
    <li>TypeScript supports strongly typed or static typing, whereas this is not in JavaScript.</li>
    <li>TypeScript runs on any browser or JavaScript engine.</li>
    <li>Great tooling supports with IntelliSense which provides active hints as the code is added.</li>
    <li>It has a namespace concept by defining a module.</li><br>
    <h5>Disadvantage of TypeScript over JavaScript</h5>
    <li>TypeScript takes a long time to compile the code.</li>
    <li>TypeScript does not support abstract classes.</li>
    <li>If we run the TypeScript application in the browser, a compilation step is required to transform TypeScript into JavaScript.</li>
    <img src="assets/img/product/inspired-product/i76.png" alt="post" style="width:380px;"><br><br>
    <h2>TypeScript Installation</h2>
    <p style="font-size: 15px;">In this section, we will learn how to install TypeScript, pre-requisites before installation of TypeScript, and in how many ways we can install TypeScript.</p>
    <h5>Pre-requisite to install TypeScript</h5>
    <li>Text Editor or IDE</li>
    <li>Node.js Package Manager (npm)</li>
    <li>The TypeScript compiler</li><br>
    <h5>Ways to install TypeScript</h5>
    <p style="font-size: 15px;">There are two ways to install TypeScript:
        <li>Install TypeScript using Node.js Package Manager (npm).</li>
        <li>Install the TypeScript plug-in in your IDE (Integrated Development Environment).</li></p>
    <h5>Install TypeScript using Node.js Package Manager (npm)</h5>
    <p style="font-size: 15px;margin-top:16px;"><b style="color: black;">Step-1</b> Install Node.js. It is used to setup TypeScript on our local computer.<br><br>
        In Windows:<a href="https://www.javatpoint.com/install-nodejs" style="color:green;margin-left: 4px;">https://www.javatpoint.com/install-nodejs</a><br>
        In Linux/Ubuntu/CentOS:<a href="https://www.javatpoint.com/install-nodejs-on-linux-ubuntu-centos" style="color:green;margin-left: 4px;">https://www.javatpoint.com/install-nodejs-on-linux-ubuntu-centos</a>
    </p>
    <P style="font-size: 15px;">To verify the installation was successful, enter the following command in the Terminal Window.</P>
    <div id="p02" style="font-size: 15px;">$ node -v <br>
                  $ npm -v  
    </div><br>
    <img src="assets/img/product/inspired-product/i77.png" style="width: 600px;" alt="post" ><br><br>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 2:</span> Install TypeScript. To install TypeScript, enter the following command in the Terminal Window.</p>
    <div id="p03" style="font-size: 15px;">$ npm install typescript --save-dev <br>
                  $ npm install typescript -g<br>
                  $ npm install typescript@latest -g  
    </div><br>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 3:</span> To verify the installation was successful, enter the command<span style="font-weight:bold;color:black"> $ tsc -v</span> in the Terminal Window.</p>
    <img src="assets/img/product/inspired-product/i78.png" style="width: 600px;" alt="post" ><br><br>
    <h5>Install TypeScript plug-in in your IDE</h5>
    <p style="font-size: 15px;margin-top:16px;"><b style="color: black;">Step-1</b> Install IDE like Eclipse, Visual Studio, WebStorm, Atom, Sublime Text, etc. Here, we install Eclipse. To install Eclipse, go to the following link:<br><br>
        In Windows:<a href="https://www.eclipse.org/downloads/packages/installer" style="color:green;margin-left: 4px;">https://www.eclipse.org/downloads/packages/installer</a><br>
        In Ubantu:<a href="https://www.eclipse.org/downloads/packages/installer" style="color:green;margin-left: 4px;">https://www.eclipse.org/downloads/packages/installer</a><br>
        In CentOS:<a href="https://www.eclipse.org/downloads/packages/installer" style="color:green;margin-left: 4px;">https://www.eclipse.org/downloads/packages/installer</a>
    </p>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 2:</span> Install TypeScript plug-in.</p>
    <li style="font-size: 15px;">Open Eclipse and go to<span style="color:grey"> Help->Eclipse Market Place.</span></li>
    <li style="font-size: 15px;">Search for<span style="color:grey"> TypeScript</span> and choose<span> TypeScript IDE</span> , Click Install.</li><br>
    <img src="assets/img/product/inspired-product/i79.png" style="width: 600px;" alt="post" ><br><br>
    <li style="font-size: 15px;">In the next window, select<span style="color:grey"> Features</span> which you want to install, and click<span style="color:grey"> Confirm.</span></li>
    <li style="font-size: 15px;">A new window will open, select<span style="color:grey"> Accept Terms and Condition,</span> Click<span style="color:grey"> Next,</span> and follow the on-screen instructions.</li>
    <li style="font-size: 15px;">Now<span style="color:grey"> restart</span> Eclipse. To verify the TypeScript, go to<span style="color:grey"> New->Other->TypeScript.</span> Once the TypeScript shows in the window, it means that TypeScript is successfully installed on your machine.</li><br>
    <img src="assets/img/product/inspired-product/i80.png" style="width: 600px;" alt="post" ><br><br>
    <h2>Online Compiler for TypeScript</h2>
    <p style="font-size: 15px;">We can also run our script online with the official compiler. To do this, go to the below link.<br>
    <a href="https://www.typescriptlang.org/play" style="color: green;">https://www.typescriptlang.org/play/index.html</a><br><br>
    The following screen appears. Now, you can do any TypeScript program on this.
    </p>
    <img src="assets/img/product/inspired-product/i81.png" style="width: 600px;" alt="post" ><br><br>
    <h2>TypeScript First Program</h2>
    <p style="font-size: 15px;">In this section, we are going to learn how we can write a program in TypeScript, how to compile it, and how to run it. Also, we will see how to compiles the program and shows the error, if any.<br><br>
        Let us write a program in the text editor, save it, compile it, run it, and display the output to the console. To do this, we need to perform the following steps.
    </p>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 1:</span> Open the Text Editor and write/copy the following code.</p>
    <div class="w3-codespan w3-border">
        <code>
        function greeter(person) &#x0007B;<br>
             <span style="margin-left: 40px;">return "Hello,"+person;</span><br>
        &#x0007D;<br>
        let user ='JavaTpoint';<br>
        console.log(greeter(user)); 
        </code>
        </div><br>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 2:</span> Save the above file as<span style="color:grey"> ".ts"</span> extension.</p>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 3:</span> Compile the TypeScript code. To compile the source code, open the<span style="color:grey"> command prompt,</span> and then goes to the file directory location where we saved the above file. For example, if we save the file on the desktop, go to the terminal window and type:<span style="color:grey"> - cd Desktop/folder_name.</span> Now,type the following command tsc<span style="color:grey"> filename.ts</span> for compilation and press<span style="color:grey"></span> Enter.</p>
    <img src="assets/img/product/inspired-product/i82.png" style="width: 600px;" alt="post" ><br><br>
    <p>It will generate JavaScript file with ".js" extension at the same location where the TypeScript source file exists. The below ".js" file is the output of TypeScript (.ts) file.</p>
    <img src="assets/img/product/inspired-product/i83.png" style="width: 600px;" alt="post" ><br><br>
    <div class="w3-warning">
        <p style="font-size: 13px;padding: 20px;"><strong>NOTE:</strong> If we directly run<strong> ".ts"</strong> file on the web browser, it will throw an error message. But after the compilation of<strong> ".ts"</strong> file, we will get a<strong> ".js"</strong> file, which can be executed on any browser.</p>
    </div>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 4:</span> Now, to run the above JavaScript file, type the following command in the terminal window: node filename.js and press Enter. It gives us the final output as:</p>
    <img src="assets/img/product/inspired-product/i84.png" style="width: 600px;" alt="post" ><br><br>
    <h2>Compile-Time error</h2>
    <p style="font-size: 15px;">TypeScript always gives an error at compilation time. For this, we need to write the program in TypeScript, compile it, and see the error, if found.</p>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 1:</span> Open the Text Editor and write/copy the following code.</p>
    <div class="w3-codespan w3-border">
        <code>
            function addNumbers(a, b) &#x0007B;<br>
             <span style="margin-left: 30px;">return a + b;</span><br>
        &#x0007D;<br>
        var sum = addNumbers("JavaTpoint", 25);<br>
        console.log('Sum of the numbers is: ' + sum); 
        </code>
        </div><br>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 2:</span> Save the above file as<span style="color:grey"> ".ts"</span> extension.</p>
    <p style="font-size: 15px;"><span style="font-weight:bold;color:black">Step 3:</span> Compile the TypeScript code. To compile the source code, open the<span style="color:grey"> command prompt,</span> and then goes to the file directory location where we saved the above file. For example, if we save the file on the desktop, go to the terminal window and type:<span style="color:grey"> - cd Desktop/folder_name.</span> Now,type the following command tsc<span style="color:grey"> filename.ts</span> for compilation and press<span style="color:grey"></span> Enter.</p>
    <p>This TypeScript source file will generate an error which can be shown in the following image.</p>
    <img src="assets/img/product/inspired-product/i85.png" style="width: 600px;" alt="post" ><br><br>
    <div class="w3-warning">
        <p style="font-size: 13px;padding: 20px;"><strong>NOTE:</strong> This program gives an error because we were taking the variable "a" and "b" as of number type. But, we were passing the variable "a" as the string and variable "b" as the number.
        </p>
    </div>

</div>
</article>
