th{
    padding: 10px;
}
button:disabled{
    cursor:no-drop;
}
.p02{
    border: 1px solid lightgrey;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 25px;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
.p01{
    border: 1px solid lightgrey;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 25px;
    background-color:white;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-family: Lato;
  }