<br>
<div  class="container" style="margin-top: 89px;background-color: white;width: 700px;padding-left:50px;"><br>
  <span style="margin-left:7px;font-weight: bold;font-size: 20px;">Available Coupons</span>
<div class="row" >
    <div class="col"  class="p02">
        <table >
            <tr>
                <td style="font-weight: bold;color: #009933;">
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#exampleeModal">Supermart Pass TD</a>
                </td>
                <td style="padding-left: 255px;font-weight: bold;color: grey;">
                   Valid till 31 Aug,2020
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px;font-size: 15px;">
                    Supermart Pass TD
                </td>
                <td style="padding-left: 345px;padding-top: 10px;color:#4d4dff;">
                    <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleModal">View T&C</a>
                </td>
            </tr>
        </table>
    </div>
</div><br>
<span style="margin-left:7px;font-weight: bold;font-size: 20px;">Expired Coupons</span>
<div class="row" >

  <div class="col"  class="p02">
      <table >
          <tr>
              <td style="font-weight: bold;color:black;">
                  Supermart Pass offer
              </td>
              <td style="padding-left: 255px;font-weight: bold;color: grey;">
                 Valid till 31 Jul,2020
              </td>
          </tr>
          <tr>
              <td style="padding-top: 10px;font-size: 15px;">
                  Supermart Pass offer
              </td>
              <td style="padding-left: 335px;padding-top: 10px;color:#4d4dff;">
                <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
              </td>
          </tr>
      </table>
  </div>


  <div class="col"  class="p01">
      <table >
          <tr>
              <td style="font-weight: bold;color:black;">
                Extra 5% Off on Select Fashion
              </td>
              <td style="padding-left:183px;font-weight: bold;color: grey;">
                 Valid till 31 Jul,2020
              </td>
          </tr>
          <tr>
              <td style="padding-top: 10px;font-size: 15px;">
                Extra 5% Off on Select Fashion
              </td>
              <td style="padding-left:263px;padding-top: 10px;color:#4d4dff;">
                <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
              </td>
          </tr>
      </table>
  </div>

  <div class="col"  class="p01">
    <table >
        <tr>
            <td style="font-weight: bold;color:black;">
                Supermart Pass TD
            </td>
            <td style="padding-left: 270px;font-weight: bold;color: grey;">
               Valid till 31 Jul,2020
            </td>
        </tr>
        <tr>
            <td style="padding-top: 10px;font-size: 15px;">
                Supermart Pass TD
            </td>
            <td style="padding-left: 350px;padding-top: 10px;color:#4d4dff;">
              <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
            </td>
        </tr>
    </table>
</div>

<div class="col"  class="p01">
  <table >
      <tr>
          <td style="font-weight: bold;color:black;">
              Supermart Pass TD
          </td>
          <td style="padding-left: 270px;font-weight: bold;color: grey;">
             Valid till 23 Jul,2020
          </td>
      </tr>
      <tr>
          <td style="padding-top: 10px;font-size: 15px;">
              Supermart Pass TD
          </td>
          <td style="padding-left: 350px;padding-top: 10px;color:#4d4dff;">
            <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
          </td>
      </tr>
  </table>
</div>

<div class="col"  class="p01">
  <table >
      <tr>
          <td style="font-weight: bold;color:black;">
            Supermart Pass TD - DOTD
          </td>
          <td style="padding-left: 211px;font-weight: bold;color: grey;">
             Valid till 19 Jul,2020
          </td>
      </tr>
      <tr>
          <td style="padding-top: 10px;font-size: 15px;">
            Supermart Pass TD - DOTD
          </td>
          <td style="padding-left: 290px;padding-top: 10px;color:#4d4dff;">
            <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
          </td>
      </tr>
  </table>
</div>

<div class="col"  class="p01">
  <table >
      <tr>
          <td style="font-weight: bold;color:black;">
            Extra ₹100 Discount.
          </td>
          <td style="padding-left:139px;font-weight: bold;color: grey;">
             Valid till 10 Jun,2020
          </td>
      </tr>
      <tr>
          <td style="padding-top: 10px;font-size: 15px;">
            Extra ₹100 Discount For First Time Users.
          </td>
          <td style="padding-left: 225px;padding-top: 10px;color:#4d4dff;">
            <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
          </td>
      </tr>
  </table>
</div>

<div class="col"  class="p01">
  <table >
      <tr>
          <td style="font-weight: bold;color:black;">
            Extra ₹100 Discount.
          </td>
          <td style="padding-left:188px;font-weight: bold;color: grey;">
             Valid till 4 Jun,2020
          </td>
      </tr>
      <tr>
          <td style="padding-top: 10px;font-size: 15px;">
            Extra ₹100 Off for First Time Users.
          </td>
          <td style="padding-left: 265px;padding-top: 10px;color:#4d4dff;">
            <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
          </td>
      </tr>
  </table>
</div>

<div class="col"  class="p01">
  <table >
      <tr>
          <td style="font-weight: bold;color:black;">
            Extra ₹100 Discount.
          </td>
          <td style="padding-left:148px;font-weight: bold;color: grey;">
             Valid till 3 Jun,2020
          </td>
      </tr>
      <tr>
          <td style="padding-top: 10px;font-size: 15px;">
            Extra ₹100 Discount For First Time Users.
          </td>
          <td style="padding-left: 225px;padding-top: 10px;color:#4d4dff;">
            <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
          </td>
      </tr>
  </table>
</div>

<div class="col"  class="p01">
  <table >
      <tr>
          <td style="font-weight: bold;color:black;">
            Extra 5% off for First time us
          </td>
          <td style="padding-left:201px;font-weight: bold;color: grey;">
             Valid till 3 Jun,2020
          </td>
      </tr>
      <tr>
          <td style="padding-top: 10px;font-size: 15px;">
            Extra 5% off for First Time Users.
          </td>
          <td style="padding-left: 278px;padding-top: 10px;color:#4d4dff;">
            <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
          </td>
      </tr>
  </table>
</div>

<div class="col"  class="p01">
  <table >
      <tr>
          <td style="font-weight: bold;color:black;">
            Shop now to get Extra 10% Off
          </td>
          <td style="padding-left:116px;font-weight: bold;color: grey;">
             Valid till 17 Sep,2019
          </td>
      </tr>
      <tr>
          <td style="padding-top: 10px;font-size: 15px;">
            Shop now to get Extra 10% Off (Up to ₹100)
          </td>
          <td style="padding-left:203px;padding-top: 10px;color:#4d4dff;">
            <a  style="text-decoration: none;cursor: pointer;" data-toggle="modal" data-target="#exampleeeModal">View T&C</a>
          </td>
      </tr>
  </table>
</div>
</div>
<br><br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms & Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="font-size: 10px;">
          <p style="padding-top: 9px;">FAQs</p>
          <li>What is the Offer?</li><br>
          <p>This Offer is for New Customers of Eiser Platform only. Upon purchase of any Lifestyle products by eligible Customers , 10% off upto the maximum of Rs 100 will be applied on products sold by Participating sellers from Lifestyle Products (products from Watches, Sunglasses, Handbags, Backpacks, Artificial Jewellery, Men’s clothing and Footwear, Women’s Clothing and Footwear & Kids’ Fashion )(“Eligible Categories”) between 3rdAugust and 31st Aug’2020</p>
          <li>What is the eligible product for this Offer?</li><br>
          <p>You will be able to be eligible for the Offer on purchase of products sold by Participating sellers from Lifestyle Products (products from Watches, Sunglasses, Handbags, Backpacks, Artificial Jewellery, Men’s clothing and Footwear, Women’s Clothing and Footwear & Kids’ Fashion )(“Eligible Categories”) between 3rd August and 31st August’2020. There is no minimum order value for this offer.</p>
          <li>What is the duration of the Offer?</li><br>
          <p>From 3rd August’2020 to 31st August 2020 to all the New Customers(“Offer Period”)</p>
          <li>How to claim the Offer?</li><br>
          <p>This Offer will be auto applicable for all the new customers of Eiser.</p>
          <li>What are the other conditions of the Offer?</li><br>
          <p>Offer is applicable only once during the offer period. Offer is applicable subject to pin code service by Eiser.<br><br>
  
              Offer is not applicable in case of cancellations/partial cancellations or returns of first order.<br><br>
              
              Offer is applicable only once during the offer period.<br><br>
              
              Offer is not applicable on pre-ordered product or products purchased under pre book deals</p><br>
           <p>TERMS AND CONDITIONS</p>
           <p>PRELIMINARY</p>
           <li>This Offer (defined below) is being powered and run by participating sellers (hereinafter referred to as “Sellers”) on www.Eiser.com, Eiser Mobile App, Eiser Lite Platform (all three collectively “Platform”), which Platform is owned and operated by Eiser Internet Private Limited (“Eiser”).</li><br>
           <li>By participating in this Offer (defined below), the user (“Customer” or “You” or “Your”) agrees to be bound by these terms and conditions (“T&C”); the Terms of Use, Privacy Policy and other relevant documentation including any modifications, alterations or updates thereof, that are published on the Platform.</li><br>
           <p>OFFER DETAILS</p>
           <li>The offer will commence on 3rd August’2020 and will be live till 31st August’2020. To participate in the Offer, You must do/ fulfil the following:</li><br>
           <li>Age must be 18 years or above;</li><br>
           <li>Must have a valid account on the Platform and log into the same;</li><br>
           <li>The Offer can be availed only once during the Offer Period by You.</li><br>
           <li>Purchase products from Lifestyle category (“Applicable Category”) during the Offer Period.</li><br>
           <li>In terms of the Offer and on fulfilling the above mentioned conditions, you will get a discount of 10% off upto Rs 100 on products sold by Participating sellers from Lifestyle Products (products from Watches, Sunglasses, Handbags, Backpacks, Artificial Jewellery, Men’s clothing and Footwear, Women’s Clothing and Footwear & Kids’ Fashion (“Eligible Categories”) between 3rd August and 31st August’2020.</li><br>
           <li>You can refer to the product listing page to check applicability of the Offer on the Product/s or Eligible Product/s.</li><br>
           <li>The Offer is valid on all modes of payment.</li><br>
           <li>The Discount can be availed only once by You during the Redemption Period and only against one transaction during the Offer Period. Offer will no longer be applicable on second order, if you cancel the first order.</li><br>
           <li>You agree to check the product page for applicability of the Offer before making the purchase.</li><br>
           <li>You acknowledge and confirm that You are aware of the nature of telecommunications/ internet services and that an email transmission may not be received properly and may be read or be known to any unauthorized persons. You agree to assume and bear all the risks involved in respect of such errors and misunderstanding and Eiser shall not be responsible in any manner.</li><br>
           <li>In case the order is cancelled, Discount will not be reinstated.</li><br>
           <p>OTHER TERMS AND CONDITIONS</p>
           <li>This Offer is valid only in India</li><br>
           <li>Offer is non-transferable and is subject to availability of stocks.</li><br>
           <li>Eiser does not endorse the Products and will not accept any liability pertaining to the quality, merchantability, fitness, delivery or after sales service of the Products, which shall be at the sole liability and responsibility of the Seller.</li><br>
           <li>Pictures of Products shown in the communication sent either through mailers or displayed on the Platform, are representative only and may not bear a resemblance to the Products. None of the parties shall under any circumstances be responsible towards the same.</li><br>
           <li>Sale of Products on the Platform is subject to availability with the Sellers and accordingly Eiser in no circumstances shall be liable for non-availability of any of the Products.</li><br>
           <li>The Offer is open to only end consumers and not to resellers.</li><br>
           <li>Offer benefits/Discount shall not be settled in cash by Eiser/Sellers and are not transferable.</li><br>
           <li>Eiser reserves the right to terminate, withdraw, suspend, amend, extend, modify, add or remove portions of this Offer, at any time without any prior written notice.</li><br>
           <li>You are not bound in any way to participate in this Offer. Any participation is voluntary, and the Offer is being made purely on a best effort basis.</li><br>
           <li>Eiser reserves the right to disqualify You from the benefits of this Offer, if any fraudulent activity is identified as being carried out for the purpose of availing the benefits under the said Offer.</li><br>
           <li>The Offer shall be subject to force majeure events and on occurrence of such an event, the Offer may be withdrawn at the discretion of Eiser/Sellers.</li><br>
           <li>Eiser shall not be responsible for any loss, injury or any other liability arising due to participation by any person in this Offer.</li><br>
           <li>Eiser will not entertain any correspondence regarding the validity or acceptability of any additional benefits offered by the Seller and the same shall be at the sole risk and consequences of the Seller and without reference to Eiser.</li><br>
           <li>Customer understands that this Offer and other offers are provided by Sellers on the Platform and Eiser shall not be liable towards the quality of the Product and/or fulfilment of the Offer and/or warranty claims and/or after sales services of the Product(s) and/or taxes arising out of the same. Any claim or dispute in relation to the same must be directed towards the Sellers only.</li><br>
           <li>This Offer is neither created/owned nor sponsored by Eiser. Eiser shall not be responsible if this Offer is in violation with any applicable law. Sellers shall be solely responsible towards any losses suffered by and/or penalties levied on Eiser due to this offer being in contravention to any applicable laws. Notwithstanding anything to the contrary provided hereunder this T&C and the Frequently Asked Questions, Sellers shall indemnify Eiser against all damages, liabilities, costs, expenses, claims, suits and proceedings (including reasonable attorney’s fee) that may be suffered by Eiser a) due this Offer (or part of Promotion) being in contravention with any applicable laws; b) due to any act or omission of Sellers; c) claim by any third party for any breach/infringement of their proprietary/intellectual property rights; d) claim raised by any customers against Eiser in relation to this Offer.</li><br>
           <li>You hereby agree to indemnify and keep Eiser/Sellers harmless against all damages, liabilities, costs, expenses, claims, suits and proceedings (including reasonable attorney’s fee) that may be suffered by Eiser as a consequence of: (i) violation of terms of this T&C by You; (ii) violation of applicable laws; (iii) any action or inaction resulting in willful misconduct or negligence on Your part.</li><br>
           <li>This T&C shall be governed in accordance with the applicable laws in India. Courts at Bangalore shall have the exclusive jurisdiction to settle any dispute that may arise under this T&C.</li><br>
           <li>The Offer shall be subject to the Income-Tax Act, 1961 and all disbursements shall be subject to TDS, as applicable.</li><br>
           <li>Any query regarding this Offer will be entertained only till 30 October,2020. Post such date Eiser/Sellers will not entertain any correspondence or communication regarding this Offer from any persons.</li><br>
           <li>Sellers are responsible for the fulfilment of the Offer. Any queries/complaints or dispute regarding the fulfillment of the Offer must be directed towards the Sellers. Eiser shall not entertain or responsible for any queries/complaints regarding the fulfillment of Offer. Eiser will not entertain any correspondence or communication regarding this Offer from any customer/person.</li><br>
           <li>This Offer shall be subject to all applicable laws, rules and regulations which are in existence and which may be promulgated anytime by any statutory authority.</li><br>
           <li>This document is an electronic record in terms of Information Technology Act, 2000 and the Rules there under as applicable and the amended provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000. This electronic record is generated by a computer system and does not require any physical or digital signatures.</li><br>
  </div>  
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supermart Pass TD	</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7" *ngFor="let product of shopList" style="margin-left: 100px;">
          <app-coupon [productItem]="product" [addedToWishlist]="wishlist.indexOf(product._id) >= 0"></app-coupon>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms & Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="font-size: 10px;">
          <p style="padding-top: 9px;">FAQs</p>
          <li>This offer is valid until stocks last or till the offer ends.</li><br>
          <li>Final Price is inclusive of the offer.</li><br>
          <li>Offer is applicable on select products and brands.</li><br>
  </div>  
      </div>
    </div>
  </div>
</div>

</div>
<br>



<footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-3 col-md-7 single-footer-widget">
          <h4 style="margin-left: 10px;">CONTACT US</h4>
          <table>
            <tr>
              <th>
            <i class="fa fa-map-marker fa-2x" style="color: white;"></i>
              </th>
              <th>
            <h6 style="color: white;">336-337 New Janak Puri Ambala cantt,<span style="color: white;font-weight: bold;">Haryana India</span></h6>
            </th>
            </tr>
           <tr>
             <th>
              <i class="fa fa-phone fa-2x" style="color: white;"></i>
             </th>
             <th>
              <h6 style="color: white;">+91-7355876362</h6>
              </th>
           </tr>
           <tr>
             <th>
              <i class="fa fa-envelope fa-2x" style="color: white;"></i>
             </th>
             <th>
              <h6 style="color: white;"><a href="www.gmail.com">ms2224852@gmail.com</a></h6>
             </th>
           </tr>
         </table>
        </div>
       
        <div class="col-lg-4 col-md-6 single-footer-widget" style="margin-left:80px;">
          <h4>NEWSLETTER</h4>
          <p>You can trust us. we only send promo offers,</p>
          <div class="form-wrap" id="mc_embed_signup">
            <form  class="form-inline" #SubscribedForm="ngForm" (ngSubmit)="onSubmit(SubscribedForm)">
              <input class="form-control" id="EMAIL" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"onblur="this.placeholder = 'Your Email Address '" required="" type="email" name="EMAIL" #EMAIL="ngModel" [(ngModel)]="contactservice.selectedSubscribed.EMAIL"  autocomplete="off" required email>
              <span *ngIf="EMAIL.invalid && (EMAIL.dirty || EMAIL.touched)">
                </span>
              <button class="click-btn btn btn-default" [disabled]="!SubscribedForm.valid">Subscribe</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>
              <div class="info"></div>
            </form>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-7 single-footer-widget" style="margin-left: 80px;">
          <h4>ABOUT</h4>
          <table>
            <tr>
              <td>
                <p>Eiser is a one stop shop for all your fashion and lifestyle needs. Being India's largest e-commerce store for fashion and lifestyle products, Eiser aims at providing a hassle free and enjoyable shopping experience to shoppers across the country with the widest range of brands and products on its portal. The brand is making a conscious effort to bring the power of fashion to shoppers with an array of the latest and trendiest products available in the country.</p>
              </td>
            </tr>
          </table>
        </div>
      
      </div>
  
      <div class="footer-bottom row align-items-center">
        <p class="footer-text m-0 col-lg-8 col-md-12">
  Copyright &copy;All rights reserved | This website is designed <i class="fa fa-heart-o" aria-hidden="true"></i> by <a>Mukul Sharma</a></p>
        <div class="col-lg-4 col-md-12 footer-social">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
          <a href="https://gmail.com/"><i class="fa fa-google"></i></a>
          <a href="https://instagram.com/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      
    </div>
  </footer>
