.dropbtn {
    background-color:#f5f5f0;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border-radius: 4%;
    border:2px solid black;
    width: 200px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #f5f5f0;border:1px solid black;}

  th{
    padding: 10px;
  }
button:disabled{
    cursor:no-drop;
}


  